body {
  background-color: rgb(84, 169, 238);
  justify-content: center;
  display: flex;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.startBtn {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 1em 2em;
  border-radius: 1em;
  border: solid 0.2em rgb(180, 180, 180);
}
